/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

/* MY CSS */

.body{
    margin: 0;
    padding: 0;
}

.container{
    width: 1000px;
    background-color: #f0f2f9;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.top{
    height: 72px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 18px 0 rgba(0, 0, 0, 0.05), 0 6px 10px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px;
}

.top h1{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.45;
    letter-spacing: 0.09px;
    color: #00bcf1;
    float: left;
    margin-left: 100px;
}

.close{
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px; 
    font-weight: bold;
    float: right;
    margin-right: 100px;
}

.content{
    text-align: center;
    padding: 20px;
}

.choose{
    font-size: 13px;
    line-height: 1.63;
    letter-spacing: 0.08px;
    color: #1f2d3d;
}

.choose1{
    font-size: 25px;
    font-weight: bold;
    line-height: 1.32;
    letter-spacing: 0.1px;
    color: #1f2d3d;
    margin-top: 32px;
    margin-bottom: 8px;
}

.paragraf{
    font-size: 13px;
    line-height: 1.63;
    letter-spacing: 0.08px;
    color: #6a7481;
    margin-bottom: 16px;
}

.time{
    font-size: 15px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.09px;
    color: #1f2d3d;
}

.number button{
    width: 300px;
    height: 56px;
    border-radius: 10px;
    border: solid 1px #dde2e8;
    font-size: 13px;
    line-height: 1.63;
    letter-spacing: 0.08px;
    color: #1f2d3d;
    margin:  16px auto;
    display: block;
}

.price1{
    width: 300px;
    height: 56px;
    border-radius: 10px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 18px 0 rgba(0, 0, 0, 0.05), 0 6px 10px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    margin: 40px auto 0;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}

.one{
    font-size: 10px;
    color:#6a7481;
}

.two{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.09px;
    color: #00bcf1;
    margin-top: -10px;
}

.symbol{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 18px 0 rgba(0, 0, 0, 0.05), 0 6px 10px 0 rgba(0, 0, 0, 0.05);
    background-color: #00bcf1;
    float: right;
    margin-top: -55px;
    margin-right: 250px;
}

.symbol img{
    width: 32px;
    height: 32px;
    padding: 10px;
}

.image{
    width: 280px;
    height: 300px;
    float: left;
    margin-top: -280px;
    margin-left: 45px;
}







