body{
    margin:0;
    padding: 0;
    font-family: arial sans-serif;
    font-size: 16px;
    background-image: url(leaves.png);
}

.container{
    width: 800px;
    background-color: #fff;
    color: #000;
    margin: auto;
    box-sizing: border-box;
}

.header{
    padding: 10px;
}

.header .title{
    font-size: 40px;
    font-weight: bold;
    float: left;
    margin-bottom: 10px;
}

.header ul li{
    display: inline-block;
    margin-top: 20px;
    margin-left: 30px;

}

.header a{
    text-decoration: none;
    color: Chocolate;
}

.header a:hover{
    padding: 5px;
    background-color:tan;
    color: black;
}

.img{
    height: 300px;
    background-image: url(Goblin.jpg);
    background-size: cover;
    background-position: 0 -120px;
    border-top: 5px solid chocolate;
}

.article{
    background-color: tan;  
}

.article h2{
    font-size: 25px;
    font-weight: bold;
    /* text-align: center; */
    padding: 20px;
    border-bottom: 1px solid black;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.content{
    padding: 20px;
    border-bottom: 1px solid black;
}

.content img{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
   
}
.content1{
    padding: 20px;
    border-bottom: 1px solid black;
}

.content1 img{
    width: 100px;
    height: 100px;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}

.content1 p{
    text-align: justify;
    text-indent: 50px;
}


.content p{
    text-align: justify;
    text-indent: 50px;
}

.footer{
    padding: 20px;
    background-color: DarkSlateGray;
    color: white;
    text-align: center;
}