body{
    margin: 0;
    padding: 0;
}

.wrapper{
    width:501px;
    height: 1000px;
    border-radius: 10px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05), 0 4px 5px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
}

.top h1{
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.08px;
    color:#6a7481;
}

.top h2{
    font-size: 28px;
    font-weight: bold;
    line-height: 1.32;
    letter-spacing: 0.1px;
    color: #1f2d3d;
    float: left;
    margin-top: -10px;
}

.top p{
    font-size: 18px;
    line-height: 1.33;
    text-align: right;
    color: #6a7481;
    margin-top: 10px;
}

.one{
    width: 421px;
    height: 147px;
    border-radius: 10px;
    padding-top: 20px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 18px 0 rgba(0, 0, 0, 0.05), 0 6px 10px 0 rgba(0, 0, 0, 0.05);
    margin-top: 30px;
}

.one1{
    width: 421px;
    height: 48px;
    padding: 12px;
    box-sizing: border-box;
}

.one1 .box{
    width: 40px;
    height: 40px;
    float: left;
}

.one1 h4{
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.08px;
    color: #1f2d3d;
    margin: 10px 0 0 60px;
}

.one1 .vector{
    width: 24px;
    height: 24px;
    float: right;
    margin-top: -20px;
    
}

.one2{
    width: 421px;
    height: 40px;
    border-top: 1px solid #e9ecf0;
    margin-top: 30px;
    padding: 12px;
    font-size: 13px;
    line-height: 1.54;
    color:#6a7481;
    box-sizing: border-box;
}

.one2 h5{
    float: left;
    margin-top: 10px;
}

.one2 p{
    text-align: right;
    margin-top: 10px;
}

.two{
    width: 421px;
    height: 215px;
    border-radius: 10px;
    padding-top: 20px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 18px 0 rgba(0, 0, 0, 0.05), 0 6px 10px 0 rgba(0, 0, 0, 0.05);
    margin-top: 30px;
}